// Font
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap');

// Veriable
$primary-font:'Changa', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$primary-color:#E51515;
$secondary-color:#14151A;
$date-color:#FF8320;
$comment-color:#08ABBD;
$gray-color:#9F9F9F;
$light-color:#FEFEFE;
/** UTILITIES **/
.bg{
    &-dark{
        background-color: $secondary-color;
    }
    &-light{
        background-color: $light-color;
    }
}
.ml{
    &-2{
        margin-left: 2rem;
    }
}
.m{
    &-1{
        margin: 1rem;
    }
}
.text{
    &-center{
        text-align: center;
    }
    &-primary{
        color:$primary-color
    }
}

section{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/** MIXINS **/

@mixin flex-display($align-items,$justify-content)  {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}